/* Administrador.css */
.admin-container {
  padding: 20px;
  padding-top: calc(20px + env(safe-area-inset-top));
  padding-bottom: calc(20px + env(safe-area-inset-bottom));
  padding-left: calc(20px + env(safe-area-inset-left));
  padding-right: calc(20px + env(safe-area-inset-right));
  background-color: #f5f5f5;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.admin-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.admin-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.admin-container button {
  width: 100%;
  background-color: #970000c2;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.admin-container button:hover {
  background-color: #970000c2;
}

.admin-container label {
  font-size: 14px;
  color: #555;
}

.label-recuerdame {
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin-container input[type="checkbox"] {
  margin-right: 2000px;
}

.admin-container .error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.btn-cerrar-header {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none !important;
  border: none;
  cursor: pointer;
  z-index: 10;
  padding: 0;
  margin-right: auto;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
}
