.peliculas-admin-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 8px;
}

.titulo {
  font-size: 24px;
  margin-bottom: 20px;
}

.back-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.back-button:hover {
  background-color: #45a049;
}

.crear-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.crear-button:hover {
  background-color: #0056b3;
}

.formulario-editar {
  display: flex;
  flex-direction: column;
}

.campo {
  margin-bottom: 15px;
}

.campo label {
  font-weight: bold;
  margin-bottom: 5px;
}

.campo input, .campo textarea, .campo select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.campo textarea {
  resize: vertical;
  min-height: 100px;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn:hover {
  background-color: #0056b3;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-field:focus {
  outline: none;
  border-color: #007bff;
}

select, textarea {
  font-size: 16px;
}

select {
  margin-top: 5px;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.botones {
  margin-top: 20px;
}

.botones button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botones button:hover {
  background-color: #d32f2f;
}

hr {
  margin: 20px 0;
}
